@model AutomationManager.Models.WindowsTasks

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WindowsTasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TriggerType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TriggerType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TriggerString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TriggerString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TriggerAction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TriggerAction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastRun)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastRun)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedByUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
