@model IEnumerable<AutomationManager.Models.WindowsTasks>

@{
    ViewData["Title"] = "Windows Task Scheduler";
}

<h2>Windows Task Scheduler</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TriggerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TriggerString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TriggerAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TriggerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TriggerString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TriggerAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastRun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
