@model IEnumerable<AutomationManager.Models.JobHistory>
@{
    ViewData["Title"] = "SQL Job History";
    int successCount = 0;
    int failCount = 0;
    int totalCount = 0;

    foreach (var m in Model)
    {
        switch (m.Status.ToUpper())
        {
            case "SUCCESS":
                successCount++;
                break;
            case "FAILURE":
                failCount++;
                break;
        }
        totalCount++;
    }
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="float-left">
                <h2>SQL Job History</h2>
            </div>
            <div class="float-right">
                <a asp-action="SqlJobHistory" class="btn btn-primary">All</a>
                <a asp-action="SqlJobHistoryForType" asp-route-type="Success" class="btn btn-primary">Success</a>
                <a asp-action="SqlJobHistoryForType" asp-route-type="Failure" class="btn btn-primary">Failure</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.JobName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.JobType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateRan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Error)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.JobType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JobName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateRan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Error)


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <div id="chart1"></div>
        </div>
    </div>
</div>


@*<div class="container">
        <div class="row">




        </div>
    </div>*@

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Result', 'Count', { role: 'style' }],
                ['Success', @successCount, 'color: blue'],
                ['Failure', @failCount, 'color: red'],
            ]);

            // Simple Chart:
            var option = {
                title: 'SQL Agent Job History - Success Vs Failure',
                legend: { position: 'bottom' },
                pieHole: 0.4,
                width: 500,
                height: 400
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            if (@totalCount != 0) {
                chart.draw(data, option);
            }

        }
    </script>
}
